header{
    @apply
    w-full
    sm:p-3
    md:p-4
    xl:p-8

    flex
    justify-between
    /* align-middle
    text-center
    content-center */


    border
    rounded-t-xl

    bg-slate-100
    
}
.links,h1{
    @apply
    p-3
    text-emerald-700
}
h1{
    user-select: none;
    @apply
    font-mono
    hover:animate-pulse
}
.links-container{
    @apply
    flex

}
.link{
    position: relative;
    @apply
    w-10
    h-10
    border-lime-300
    text-slate-700
    hover:text-emerald-700
    hover:animate-spin
    
}
.link-icon{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%,-50%,0); 
    @apply
    text-2xl
    sm:text-3xl
    md:text-4xl
    lg:text-5xl

}