button{
    transition: all 150ms ease-in-out;
    @apply
    relative

    bg-slate-200
    text-slate-900
    font-bold
    rounded-md
    hover:text-slate-200
    hover:bg-emerald-700
    hover:shadow-xl
    shadow-slate-100
    /*RESPONSIVENESS*/
    h-full
    py-2
    px-4
    mx-1
    sm:h-fit
    sm:py-2

}
button[title]::before{
    content: '';
    transition: all 150ms ease-in;
    top: 0%;
    width: 100%;
    @apply
    h-full
    absolute
    left-0

    text-emerald-800
    shadow-emerald-50
    text-xs
    p-2
    rounded-lg
}
button[title]:hover::before{
    top: 110%;
    content: attr(title);
    @apply
    bg-slate-200
    sm:shadow-md
}
